
/* MANUAL AND TOYS */
.manual-toys-container, .theatre-medi-care-container, .space-performance-container {
  width: 96.212vw;
  margin: 0 auto;
  margin-bottom: 7.955vw;
}
.manual-toys-linkers, .theatre-medi-care-linkers, .space-performance-linkers {
  display: flex;
  flex-direction: row;
  gap: 1.515vw;
}
.manual-linker-button {
  background: #52B5F9;
}
.manual-linker-go {
  background: #FFBB0E;
}
.toys-linker-button {
  background: #6610F5;
}
.manual-toys-content, .space-performance-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.985vw;
  width: 96.212vw;
  height: 52.879vw;
}
/* manual */
.manual, .toys, .space, .performance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 47.389vw;
  height: 52.879vw;
}
.manual-image-container, .toys-image-container, .space-image-container, .performance-image-container {
  width: 47.389vw;
  height: 47.576vw;
  border-radius: 1.136vw;
  overflow: hidden;
  position: relative;
  display: flex;
}
.toys-hover, .manual-hover, .space-hover, .performance-hover {
  position: absolute;
  height: 47.576vw;
  width: 48vw;
  background: linear-gradient(180deg, rgba(219, 6, 45, 0) 0%, #FFBB0E 100%);
  transition: opacity 0.7s ease 0s;
  opacity: 0;
}
.toys-hover:hover, .manual-hover:hover, .space-hover:hover, .performance-hover:hover {
  position: absolute;
  height: 47.576vw;
  width: 48vw;
  background: linear-gradient(180deg, rgba(219, 6, 45, 0) 0%, #FFBB0E 100%);
  opacity: 1;
}
.manual-image, .toys-image, .space-image, .performance-image {
  width: 50vw;
  transition: transform 0.8s;
}
.manual-mobile, .toys-mobile, .theare-mobile, .medi-mobile, .care-mobile, .space-mobile, .performance-mobile  {
  display: none;
}
/* .manual-image:hover, .toys-image:hover, .space-image:hover, .performance-image:hover {
  transform: scale(1.1);
} */
.manual-text-button, .toys-text-button, .space-text-button, .performance-text-button  {
  display: flex;
  margin-top: 1.515vw;
}
.manual-text, .toys-text, .theatre-text, .space-text, .performance-text {
  width: 20.455vw;
  height: 3.788vw;
  margin-right: 9vw;
}
.manual-button, .toys-button, .theatre-button, .medi-button, .care-button, .space-button, .performance-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5vw 0.5vw;
  gap: 0.758vw;
  width: 16.916vw;
  height: 3.788vw;
  background: #FFFFFF;
  border-radius: 0.758vw;
  transition: 0.4s;
}
.manual-button:hover, .toys-button:hover, .theatre-button:hover, .medi-button:hover, .care-button:hover, .space-button:hover, .performance-button:hover {
  background: #DB062D;
}
.manual-button-text, .toys-button-text, .theatre-button-text, .theatre-button-text, .medi-button-text, .care-button-text, .space-button-text, .performance-button-text {
  color: black;
  transition: 0.4s;
}
.manual-button-text:hover, .toys-button-text:hover, .theatre-button-text:hover, .medi-button-text:hover, .care-button-text:hover, .space-button-text:hover, .performance-button-text:hover {
  color: #FFFFFF;
}
/* THEATRE MEDIA CARE */
.theatre-linker-go {
  background: #52B5F9;
}
.medi-linker-button {
  background: #DB062D;
}
.medi-linker-go {
  background: #6610F5;
}
.care-linker-button {
  background: #FFBB0E;
}
.theatre-medi-care-content {
  display: flex;
  align-items: flex-start;
  width: 47.389vw;
  height: auto;
  gap: 1.515vw;
}
/* theatre */
.theatre, .medi, .care {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 31.061vw;
  height: 41.742vw;
  gap: 0.985vw;
}
.theatre-image-container, .medi-image-container, .care-image-container {
  width: 31.061vw;
  height: 36.439vw;
  border-radius: 1.136vw;
  overflow: hidden;
  background: #52B5F9;
  position: relative;
  display: flex;
}
.theatre-hover, .medi-hover, .care-hover {
  position: absolute;
  height: 36.439vw;
  width: 31.061vw;
  background: linear-gradient(180deg, rgba(219, 6, 45, 0) 0%, #FFBB0E 100%);
  transition: opacity 0.7s ease 0s;
  opacity: 0;
}
.theatre-hover:hover, .medi-hover:hover, .care-hover:hover {
  position: absolute;
  height: 36.439vw;
  width: 31.061vw;
  background: linear-gradient(180deg, rgba(219, 6, 45, 0) 0%, #FFBB0E 100%);
  opacity: 1;
}
.theatre-image, .medi-image, .care-image {
  width: 33vw;
  transition: transform 0.8s;
}
.theatre-image:hover, .medi-image:hover, .care-image:hover {
  transform: scale(1.1); 
}
/* SPACE PERFORMANCE CONTAINER */
.space-linker-go {
  background: #52B5F9;
}
.performance-linker-button {
  background: #DB062D;
}
.performance-linker-go {
  background: #FFBB0E;
}
.space-text {
  width: 27.455vw;
  margin-right: 2vw;
}

