.store-about {
  width: 96.212vw;
  margin: 0 auto;
  margin-bottom: 1.515vw;
  margin-left: 46.970vw;
  width: 37.273vw;
}
.merch-container, .post-container, .web-container {
  width: 96.212vw;
  margin: 0 auto;
  margin-bottom: 1.515vw;
}
.merch-linker-button {
  background-color: #FFBB0E;
}
.merch-content, .post-content {
  width: 96.212vw;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.273vw;
}
.merch-one, .merch-two, .merch-three, .merch-four {
  display: inline-flex;
  gap: 1.515vw;
  border-radius: 0.379vw;
  height: 40.909vw;
}
.card-one, .card-two, .card-three, .card-four, .card-five, .card-six, .card-seven, .card-eight, .card-nine, .card-ten, .card-elvn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 31.061vw;
  height: 40.909vw;
  gap: 1.894vw;
}
.card-one-image-container, .card-two-image-container, .card-three-image-container, .card-four-image-container, .card-five-image-container, .card-six-image-container, .card-seven-image-container, .card-eight-image-container, .card-nine-image-container, .card-ten-image-container, .card-elvn-image-container {
  width: 31.061vw;
  height: 33.561vw;
  border-radius: 1.136vw;
  overflow: hidden;
  display: flex;
  position: relative;
}
.card-one-image, .card-two-image, .card-three-image, .card-four-image, .card-five-image, .card-six-image, .card-seven-image, .card-eight-image, .card-nine-image, .card-ten-image, .card-elvn-image {
  width: 33vw;
}
.card-one-hover, .card-two-hover, .card-three-hover, .card-four-hover, .card-five-hover, .card-six-hover, .card-seven-hover, .card-eight-hover, .card-nine-hover, .card-ten-hover, .card-elvn-hover {
  position: absolute;
  height: 34.576vw;
  width: 32vw;
  background: linear-gradient(180deg, rgba(219, 6, 45, 0) 0%, #FFBB0E 100%);
  transition: opacity 0.7s ease 0s;
  opacity: 0;
}
.card-one-hover:hover, .card-two-hover:hover, .card-three-hover:hover, .card-four-hover:hover, .card-five-hover:hover, .card-six-hover:hover, .card-seven-hover:hover, .card-eight-hover:hover, .card-nine-hover:hover, .card-ten-hover:hover, .card-elvn-hover:hover {
  opacity: 1;
}
.card-one-text, .card-two-text, .card-three-text, .card-four-text, .card-five-text, .card-six-text, .card-seven-text, .card-eight-text, .card-nine-text, .card-ten-text, .card-elvn-text {
  display: flex;
  flex-direction: column;
  gap: 1.515vw;
  width: 22.879vw;   
}
/* POSTERS */
.post-linker-button {
  background: #FFBB0E;
}
.post-one, .post-two {
  display: inline-flex;
  gap: 1.515vw;
  border-radius: 0.379vw;
  height: 40.909vw
}
.p-card-one, .p-card-two, .p-card-three, .p-card-four, .p-card-five, .p-card-six, .p-card-seven, .p-card-eight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 22.879vw;
  height: 40.909vw;
  gap: 1.894vw; 
}
.p-card-one-image-conteiner, .p-card-two-image-conteiner, .p-card-three-image-conteiner, .p-card-four-image-conteiner, .p-card-five-image-conteiner, .p-card-six-image-conteiner, .p-card-seven-image-conteiner, .p-card-eight-image-conteiner {
  width: 22.879vw;
  height: 33.561vw;
  border-radius: 1.136vw;
  overflow: hidden;
  display: flex;
  position: relative;
}
.p-card-one-image, .p-card-two-image, .p-card-three-image, .p-card-four-image, .p-card-five-image, .p-card-six-image, .p-card-seven-image, .p-card-eight-image {
  width: 100vw;
}
.p-card-one-hover, .p-card-two-hover, .p-card-three-hover, .p-card-four-hover, .p-card-five-hover, .p-card-six-hover, .p-card-seven-hover, .p-card-eight-hover {
  position: absolute;
  height: 33.561vw;
  width: 22.879vw;
  background: linear-gradient(180deg, rgba(219, 6, 45, 0) 0%, #FFBB0E 100%);
  transition: opacity 0.7s ease 0s;
  opacity: 0;  
}
.p-card-one-hover:hover, .p-card-two-hover:hover, .p-card-three-hover:hover, .p-card-four-hover:hover, .p-card-five-hover:hover, .p-card-six-hover:hover, .p-card-seven-hover:hover, .p-card-eight-hover:hover {
  opacity: 1;
}
.p-card-one-text, .p-card-two-text, .p-card-three-text, .p-card-four-text, .p-card-five-text, .p-card-six-text, .p-card-seven-text, .p-card-eight-text {
  display: flex;
  flex-direction: column;
  gap: 1.515vw;
  width: 22.879vw;
}
/* WEB CONTAINER */
.web-linker-button {
  background: #FFBB0E;
}
.web-content {
  width: 96.212vw;
  margin: 0 auto;
  height: 25.5vw;
  display: flex;
  flex-direction: row;
  background: #F2F2F2;
  border-radius: 1.136vw;
}
.web-about {
  width: 25.682vw;
  height: 10.152vw;
  display: flex;
  flex-direction: column;
  gap: 2.273vw;
  margin-left: 2.273vw;
  margin-top: 2.273vw;
  margin-right: 33.636vw;
}
.web-about-tittle, .web-about-subtittle, .newspaper-tittle, .new-year-tittle, .supernewspaper-tittle {
  color: black;
  width: auto;
  transition: 0.3s;
}
.web-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.515vw;
  width: 32.348vw;
  height: 17.576vw;
  margin-top: 2.273vw;
}
.web-link-newspaper, .web-link-new-year, .web-link-supernewspaper {
  display: flex;
  gap: 16.288vw;
  transition: 0.9s;
}
.web-link-new-year {
  gap: 8.864vw;
}
.web-link-supernewspaper {
  gap: 10.606vw;
}
.contact-arrow {
  height: 3.712vw;
  display: flex;
  flex-direction: row;
  transition: 0.9s;
  margin-top: 0.5vw;
}
.web-link-newspaper:hover, .web-link-new-year:hover, .web-link-supernewspaper:hover {
  gap: 2vw;
  transition: 0.9s;
}
.newspaper-tittle {
  width: auto;
  transition: 0.3s;
}
.newspaper-tittle:hover, .new-year-tittle:hover, .supernewspaper-tittle:hover {
  color: #52B5F9;
}
.newspaper-border-line, .new-year-border-line, .supernewspaper-border-line {
  width: 32.348vw;
  height: 0px;
  border: 0.076vw solid #959595;
  margin-top: 1vw;
}


