@media screen and (max-width:600px) {
  /* FIRST IMAGE CONTAINER */
  .first-image-bag-container, .bag-container, .first-image-book-container, .book-container, .first-image-box-container, .box-container, .first-image-paper-container, .paper-container, .first-image-pillow-container, .pillow-container, .first-image-card-container, .card-container, .first-image-cloth-container, .cloth-container, .first-image-hat-container, .hat-container, .first-image-plaid-container, .plaid-container {
    width: 94.133vw;
    height: auto;
    border-radius: 4vw;
    margin-bottom: 2.667vw;
  }
  .image-bag-container, .image-book-container, .image-box-container, .image-paper-container, .image-pillow-container, .image-card-container, .image-cloth-container, .image-hat-container, .image-plaid-container {
    width: 94.133vw;
    height: 119.467vw;
    border-radius: 4vw;
    margin-bottom: 5.333vw;
  }
  .first-image-bag, .bag-content-one-image, .bag-content-two-image, .first-image-book, .book-content-one-image, .book-content-two-image, .first-image-box, .box-content-one-image, .box-content-two-image, .first-image-paper, .paper-content-one-image, .paper-content-two-image, .first-image-pillow, .pillow-content-one-image, .pillow-content-two-image, .first-image-card, .card-content-one-image, .card-content-two-image, .first-image-cloth, .cloth-content-one-image, .cloth-content-two-image, .first-image-hat, .hat-content-one-image, .hat-content-two-image, .first-image-plaid, .plaid-content-one-image, .plaid-content-two-image {
    display: none;
  }
  .bag-content-two-image-mobile, .bag-content-one-image-mobile, .first-image-bag-mobile, .book-content-two-image-mobile, .book-content-one-image-mobile, .first-image-book-mobile, .box-content-two-image-mobile, .box-content-one-image-mobile, .first-image-box-mobile, .paper-content-two-image-mobile, .paper-content-one-image-mobile, .first-image-paper-mobile, .pillow-content-two-image-mobile, .pillow-content-one-image-mobile, .first-image-pillow-mobile, .card-content-two-image-mobile, .card-content-one-image-mobile, .first-image-card-mobile, .cloth-content-two-image-mobile, .cloth-content-one-image-mobile, .first-image-cloth-mobile, .hat-content-two-image-mobile, .hat-content-one-image-mobile, .first-image-hat-mobile, .plaid-content-two-image-mobile, .plaid-content-one-image-mobile, .first-image-plaid-mobile {
    display: block;
    width: 95vw;
  }
  /* MANUAL CONTAINER */
  .bag-tags, .book-tags, .box-tags, .paper-tags, .pillow-tags, .card-tags, .cloth-tags, .hat-tags, .plaid-tags {
    width: 94.133vw;
    flex-wrap: wrap;
    height: auto;
    gap: 2.667vw;
    margin-bottom: 5.333vw;
  }
  .bag-tag-one, .bag-tag-two, .bag-tag-three, .book-tag-one, .book-tag-two, .book-tag-three, .box-tag-one, .box-tag-two, .box-tag-three, .paper-tag-one, .paper-tag-two, .paper-tag-three, .pillow-tag-one, .pillow-tag-two, .pillow-tag-three, .card-tag-one, .card-tag-two, .card-tag-three, .cloth-tag-one, .cloth-tag-two, .cloth-tag-three, .hat-tag-one, .hat-tag-two, .hat-tag-three, .plaid-tag-one, .plaid-tag-two, .plaid-tag-three  {
    padding: 2.758vw 7.833vw;
  }
  .bag-subtittle, .book-subtittle, .box-subtittle, .paper-subtittle, .pillow-subtittle, .card-subtittle, .cloth-subtittle, .hat-subtittle, .plaid-subtittle {
    width: 94.133vw;
    margin-bottom: 3.5vw;
  }
  .bag-content, .book-content, .box-content, .paper-content, .pillow-content, .card-content, .cloth-content, .hat-content, .plaid-content {
    width: 94.133vw;
    height: auto;
    flex-direction: column;
    border-radius: 4vw;
  }
  .bag-content-one, .book-content-one, .box-content-one, .paper-content-one, .pillow-content-one, .card-content-one, .cloth-content-one, .hat-content-one, .plaid-content-one {
    width: 94.133vw;
    height: auto;
    border-radius: 4vw;
    gap: 4vw;
  }
  .bag-content-one-image-container, .book-content-one-image-container, .box-content-one-image-container, .paper-content-one-image-container, .pillow-content-one-image-container, .card-content-one-image-container, .cloth-content-one-image-container, .hat-content-one-image-container, .plaid-content-one-image-container {
    width: 94.133vw;
    height: 107.200vw;
    border-radius: 4vw;
  }
  .bag-topic-one, .book-topic-one, .box-topic-one, .paper-topic-one, .pillow-topic-one, .card-topic-one, .cloth-topic-one, .hat-topic-one, .plaid-topic-one {
    width: 94.133vw;
  }
  .bag-content-two, .bag-content-two-image-container, .book-content-two, .book-content-two-image-container, .box-content-two, .box-content-two-image-containe, .box-content-two-image-container, .paper-content-two, .paper-content-two-image-container, .pillow-content-two, .pillow-content-two-image-container, .card-content-two, .card-content-two-image-container, .cloth-content-two, .cloth-content-two-image-container, .hat-content-two, .hat-content-two-image-container, .plaid-content-two, .plaid-content-two-image-container {
    width: 94.133vw;
    height: 86.133vw;
    border-radius: 4vw;
    margin-bottom: 3vw;
  }
  .bag-button, .book-button, .box-button, .paper-button, .pillow-button, .card-button, .cloth-button, .hat-button, .plaid-button {
    width: 55vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    border-radius: 2.667vw;
    margin-bottom: 2vw;
  }
  /* TOYS */
  .toys-content-one-image-mobile {
    width: 95vw;
  }
  .toys-content-two-image, .theatre-content-two-image {
    width: 95vw;
  }













  /* DO NOT TOUCH */
}